@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.scroll-offset {
  scroll-margin-top: 70px;
}

.gradient-color {
  background: linear-gradient(to right, #002fff, #ff0099);
  background-clip: text;
}

.gradient-btn {
  background: linear-gradient(to right, #002fff, #ff0099);
}

.menu-item {
  position: relative;
  display: inline-block;
  transition: transform 0.4s ease-in-out;
  font-weight: 400;
}

.menu:hover .menu-item {
  transform: translateY(-30px);
}

.menu-item::after {
  content: attr(data-text);
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  transform: translateY(30px);
  transition: transform 0.4s ease-in-out;
}

.menu:hover .menu-item::after {
  transform: translateY(0);
}
